body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333; 
    background-color: #f4f4f4; 
    margin: 0;
    padding: 20px;
}

main, header {
    max-width: 800px;
    margin: 20px auto;
    background: #fff; 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cabesalho {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 3px solid #001f3f; 
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.cabesalho img {
    width: 120px;
    height: 120px;
    border-radius: 50%; 
    object-fit: cover;
    border: 3px solid #001f3f; 
}

h1 {
    color: #001f3f; 
    margin: 0;
    font-size: 2.2em;
    text-transform: uppercase;
}

header p {
    font-size: 0.9em;
    color: #555;
    margin: 5px 0;
}

header a {
    color: #001f3f;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

h2 {
    color: #001f3f;
    border-left: 5px solid #001f3f;
    padding-left: 10px;
    margin-top: 30px;
    font-size: 1.4em;
    text-transform: uppercase;
    background-color: #f9f9f9;
}

h3 {
    color: #333;
    margin-bottom: 5px;
    font-size: 1.1em;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

strong {
    color: #000; 
}

footer {
    text-align: center;
    color: #888;
    margin-top: 20px;
    font-size: 1em;
}

@media (max-width: 600px) {
    .cabesalho {
        flex-direction: column;
        text-align: center;
    }
    
    main, header {
        padding: 20px;
    }
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  text-align: center;
}

.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#btnSobre {
        background: linear-gradient(135deg, #000000, #696969); /* Gradiente */
        color: white;
        padding: 12px 15px;
        font-size: 12px;
        font-weight: bold;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0,0,0,0.2);
        transition: all 0.3s ease;
    }

#btnSobre:hover {
    background: linear-gradient(135deg, #797979, #343434);
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

#btnSobre:active {
        transform: translateY(0) scale(0.98);
        box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    }


